@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito+Sans&family=Poppins:wght@300;500;800display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins:wght@300&display=swap');
* {
  font-family: "Poppins", sans-serif;
}

/* #root {
  background: linear-gradient(150deg, rgb(241, 217, 217), rgb(236, 223, 193));
} */

/* @extend display-flex; */

display-flex, .display-flex, .display-flex-centre, .signup-content, .signin-content, .social-login, .socials {
  display: flex;
  display: -webkit-flex;
}

/* @extend list-type-ulli; */

list-type-ulli, .socials {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:focus,a:active{
  text-decoration: none;
  outline:none;
  transition: all 300ms ease 0s;
}

input,select,textarea{
  outline: none;
  appearance: unset !important;
}

input[type="checkbox"]{
  appearance: checkbox !important;
}

input[type="radio"]{
  appearance: radio !important;
}

img{
  /* max-width: 100%; */
  /* height: auto; */
  filter: drop-shadow(5px 0px 3px rgba(0,0,0,0.5));
}

.signin-image img{
  height: auto;
   font-size: larger;
}

p{
  margin-bottom: 0px;
  color: rgb(8, 7, 7);
}

h2{
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: "Poppins", sans-serif;
   font-size: 36px;
}

.main{
  height: 100vh;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clear{
  clear: both;
}

body{
   font-size: 16px;
  line-height: 1.8;
  color:#222;
  /* background-color: #f8f8f8; */
  background-image: linear-gradient(150deg, rgb(241, 217, 217), rgb(236, 223, 193));
  background-size: cover;
  
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.container{
  width: 100px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 15px 16.8px 0.16px rgba(0,0,0,0.5);
  border-radius: 20px;
}

.display-flex{
  justify-content: space-between;
}

.position-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/*.signin{
  height: 90vh;
  display: grid;
  place-items: center;
}
*/
.signup-form{
  flex-basis: 50%;
  margin: 15px 25px 15px 25px;
}

.sign-up{
  height: 90vh;
  display: grid;
  place-items: center;
}

.signin-form{
  flex-basis: 50%;
  margin: 20px 30px 20px 30px;
}

.form-title{
   font-size: 50px;
  margin-bottom: 28px;
  font-weight: 900;
  color:#0860be;
}

.signup-image{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 50%;
  padding-bottom: 0%;
}
.signin-image{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 50%;
}

figure{
  margin-bottom: 50px;
  text-align: center;
}

.form-submit{
  display: inline-block;
  background:#0b4275;
  color: #fff;
  border-bottom: none;
  width: auto;
}

.register-form{
  width: 100%;
}

.form-group{
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
  /*color: #0860be;*/
  background-color: #2977aa;
}

.form-group:last-child{
  margin-bottom: 0px;
}

input{
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999 ;
  padding: 6px 30px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

input.placeholder{
  color: #999;
}

input:focus {
  border-bottom: 1px solid #222 ;
}

.agree-term{
  display: inline-block;
  width: auto;
}

label{
  position: absolute;
  left: 0px;
  top: 50%;
}

label.valid:after{
  font-family: "Material-Design-Iconic-Font";
  content: "\f269";
  width: 100%;
  height: 100%;
  position: absolute;
   font-size: 16px;
  color: green;
}

.label-agree-term{
  position: relative;
  top:0%;
  transform: translateY(0);
  /* //moz,o,ms */
}

.material-icons-name{
   font-size: 18px;
}

.social-login{
  align-items: center;
  margin-top: 80px;
}

.social-label{
  display: inline-block;
  margin-right: 15px;
}

.socials li{
  padding: 5px;
}

.signin-content{
  padding-top: 67px;
  padding-bottom: 87px;
}

.profile-work p{
   font-size: 12px;
  color: #818182;
  margin-top: 10%;
}

.pofile-work a{
  text-decoration: none;
  color:#495057;
   font-size: 14px;;
}

.profile-work ul{
  list-style: none;
}

.profile-tab p{
  color:#0062cc;
}

.nav-link {
  font-weight: 800;
}

.navbar-light .navbar-nav .navlink {
  padding: 0 20px;
  color: rgba(0, 0, 0, 0.5);
}

.home-page {
  height: 90vh;
  background-image: linear-gradient(90deg, rgb(240, 228, 228) 50%, rgb(245, 239, 204) 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.home-page .home-div p {
  text-transform: uppercase;
   font-size: 16px;
  font-weight: 800;
  color: #737685;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.contact_info_image {
  max-width: 100%;
}

.contact_info_content {
  padding-left: 17px;
}

.contact_info_title {
  font-weight: 500;
}

.contact_info_text {
   font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  position:relative;
  width:fit-content;
}

.contact_form {
  padding-top: 85px;
}

.contact_submit_button {
  padding-left: 35px;
  padding-right: 35px;
  color: #ffffff;
   font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 24px;
}

.panel {
  width: 100%;
  height: 50px;
  background: #fafafa;
  margin-top: 120px;
}

.button {
  display: inline-block;
  background: #97cbfa;
  border-radius: 5px;
  height: 48px;
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
}

.button:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 991px) {
  .contact_info_item {
    width: 100%;
    margin-bottom: 0px;
  }
  .contact_info_item:last-child {
    margin-bottom: 0px;
  }
  label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: #222;
  }
}

@media only screen and (max-width: 767px) {
  .input_field {
    margin-bottom: 30px;
    width: 100%;
  }
  .input_field:last-child {
    margin-bottom: 0px;
  }
  .home-page, .home-div h1 {
     font-size: 40px;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  .home-page, .home-div h2 {
    font-weight: 500;
     font-size: 25px;
  }
}

@media only screen and (max-width: 575px) {
  .contact_submit_button {
     font-size: 13px;
    padding-left: 25px;
    padding-right: 25px;
  }
}




/* -------------------------------------------------------------------------------------------------------------------------------- */
/* 404 ERROR */

#notfound{
  display: flex;
  justify-content: center;
  align-items: center;
}

.notfound{
  align-self: center;
  text-align: center;
  margin: auto;
  margin-top: 20vh ;
  width: 700px;
}

.notfound-404 h1{
  position: relative;
  color: rgb(160, 158, 158);
   font-size: 110px;
}
.notfound h2{
  font-weight: 800;
   font-size: 30px;
}
.notfound p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.backtohome{
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 15px;
   font-size: 16px;
  font-weight: 600;
  padding: 11px;
}
.backtohome:hover{
  color: black;
  background-color: transparent;
  /* outline: 1px; */
  border: 2px solid black;
}

/*************************/
.bg{
  background-image:  url("./images/new2.jpg");
 /*
  background-color: rgb(109, 180, 221);*/
  background-size: cover;
  background-blend-mode: lighten;
  opacity: unset; 
  height: 100vh;
  /*width: 100wh;
    font-size: 16px;
   font-weight: 200;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px; 
  letter-spacing: 4px;
  text-align: center;
  margin: top 0;
  color:rgb(25, 3, 221);
 /* text-transform: uppercase; */
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

.home-bg h1  {
  margin-top: 0px;
 font-weight: 600;
}
.bg p{
 
  text-shadow: rgb(59, 58, 58);
  color: black;
 
 /*text-align: right;
   font-size: 25px;
 font-weight: 600;
 */
  padding-top: 4vh;
 /*padding-bottom: 5vh;*/
}
.bg h4{
  padding-top: 5vh;
 /* font-weight: 500;
   font-size: 30px;*/
}

.bg h6{
  color:rgba(46, 45, 45, 0.911)
}
.yomate{
  color:rgb(31, 0, 141);
}
.to{
  color:#04789b;
 /*  font-size: 30px;
  font-weight: 500;*/
}

/*****************/

.bg2{
  background-image: url("./images/logo8.jpg");
  /*  background-image: url("./images/logo6.jpg");*/
    height: 100vh;
    width: 100wh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    text-align: center;
    margin: top 0;
    color:rgb(25, 3, 221);
   /* text-transform: uppercase; */
 
    
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}
.bg3{
  background-image: url("./images/logo12b.jpg"); 
    height: 100vh;
    width: 100wh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    text-align: center;
    margin: top 0;
    color:rgb(25, 3, 221);
   
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}
.about {
    background-color: rgb(13, 20, 117);
    height: 100vh;
    width: 100wh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    text-align: center;
    margin: top 0;
    color:rgb(219, 217, 233);
   
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}
.about h4{
  color: #1c0874;
  font-weight: bold;
}
.about h3, .about h5, .about h6{
  color: hsl(210, 4%, 78%);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  
}
.bg4{
  background-image: url("./images/logo10.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    font-weight: 1400;
    text-align: center;
}
.bg5{
  background-image: url("./images/logo13.jpg");
/*  background-image: url("./images/logo6.jpg");*/
  height: 100vh;
  /*width: 100wh;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
   font-size: 16px;
  font-weight: 200;
  letter-spacing: 4px;
  text-align: center;
  margin: top 0;
  color:rgb(25, 3, 221);
 /* text-transform: uppercase; */
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}
.bg6{
  background-image: url("./images/logo8.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
   font-size: 16px;
  font-weight: 200;
  letter-spacing: 4px;
  text-align: center;
  margin: top 0;
  color:rgb(25, 3, 221);
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}
.bg7 {
  background-image: url("./images/logo14.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;

  letter-spacing: 4px;
  text-align: center;
  margin: top 0;
  color:rgb(25, 3, 221);
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}
.bg8{
  background-image: url("./images/logo15.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  margin-top: 0px;
  letter-spacing: 6px;
  text-align: center;
  margin: top 0;
  color:rgb(25, 3, 221);
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}
.bg2 h1{
  font-weight: 800;
}
.bg2 p{
  color:rgb(31, 31, 32);
  text-shadow: #0f0f0f;
 /* padding-top: 5vh;
   font-size: 20px;
  padding-bottom: 5vh;*/
  
}

 h3{
  padding-top: 100hv;
  color: black;
  font-weight: 600;
}
 h4{
  padding-top: 10hv;
  font-weight: 600;
 /*  font-size: 35px;*/
  text-shadow: #013a77;
  color:rgb(12, 12, 97);
}

.bg3 h3{
  padding-top: 100px;
  padding-left: 90px;
 /*  font-size: 30px;*/
  font-weight: 800;
  color:#082f58;
}
li{
  color:#05485c;
  line-height: 50px;
}
.bg4{
  padding-top: 100px;
  padding-bottom: 100px;
  font-weight: 900;
}
/****************/
input{
  width: 100%;
  background-color: #c5ab7a;
   font-size: 30pt;
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-container{
  flex : 1;
  border: 2px solid none;
}

.bg7 h3{
  text-align: center;
  letter-spacing: 4px;
  color:rgb(8, 3, 46);
}
.flex h5{
  color:#180361;

  text-shadow: #0860be;
}
/****************/

@media (max-width: 300px) {
  .bg p{
    /* font-size: 10px;
    font-weight: 300;*/
    padding-top: 2vh;
  }
  .bg2 p{
    padding-top: 1vh;
    /* font-size: 10px;**/
    padding-bottom: 0vh;
    padding-top: 0vh;
    letter-spacing: 0px;
    padding-left: 0%;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  .bg p{
    /*  font-size: 15px;
     font-weight: 400;*/
     padding-top: 1vh;
   }
  .bg2 p{
    padding-top: 5vh;
  /*   font-size: 1px;*/
    padding-bottom: 4vh;
    letter-spacing: 4px;
    padding-bottom: 0vh;
    padding-top: 0vh;
  }
  .bg3 h4{
    padding-top: 10px;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .bg p{
   /*  font-size: 20px;
    font-weight: 600;*/
    padding-top: 4vh;
  }
   p{
    padding-top: 5vh;
   /*  font-size: 20px;*/
    padding-bottom: 5vh;
    padding-left: 10vh;
    letter-spacing: 4px;
  }
   h3{
    padding-top: 200px;
  }
  .bg3 h4{
    padding-top: 20px;
  }
}
@media (min-width: 800px) {
  .bg p{
  /*   font-size: 30px;*/
    font-weight: 600;
    padding-top: 4vh;
  }
  .bg2 p{
    padding-top: 5vh;
   /*  font-size: 25px;*/
    padding-bottom: 6vh;
    letter-spacing: 4px;
  } 
  .bg3 h4{
    padding-top: 30px;
  }
}

.signup-image p{
 /*  font-size: 40px; */
  color:black;
  padding-top: 0px;
}

.signup-image-link{
 /*  font-size: 30px;*/
  color:#180361;
  font-weight: 900;
  
}
.bgS{

    background-color: #110f61;
    height: 100vh;
    /*width: 100wh;*/
    margin-top: 0px;

    letter-spacing: 4px;
    text-align: center;
    margin: top 0;
    color:rgb(25, 3, 221);
   /* text-transform: uppercase; */
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
  
}
.bgS h1, .bgS h4{
  color: white;
}
.bgS p{
  color: #0f0f0f;
}
.bgS u{
  font-weight: bold;
  font-family: cursive;
}
.info{
  background-image: url("./images/info.jpg");
}
